*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/database/migrations/2026_08_21_060001_create_profile_table.php
/database/migrations/2026_08_21_062225_create_user_table.php
/database/migrations/2026_08_21_062238_create_role_table.php
/database/migrations/2026_08_21_062246_create_film_table.php
/database/migrations/2026_08_21_062255_create_peran_table.php
/database/migrations/2026_08_21_062305_create_cast_table.php
/database/migrations/2026_08_21_062320_create_genre_table.php
/database/migrations/2026_08_21_062331_create_kritik_table.php
